@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');
@import 'normalize.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --primary: #1e88e5;
    --secondary: #03a9f4;
    --text-color: white;

    --font-family: 'Outfit', 'Inter', sans-serif;

    --margin-top: 30px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 2rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    background-color: #000000;
}
