.father {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.wrapper {
    color: rgb(255, 255, 255);
    padding: 8rem 10rem 0 10rem;
    display: flex;
    justify-content: space-between;
}

.content {
    width: 55%;
    position: relative;
    z-index: 1;
}

.p-1 {
    font-weight: 600;
    font-size: 3rem;
    display: flex;
    gap: 1rem;
}

.span-1 {
    color: var(--primary);
    font-weight: 700;
}

.text-animate {
    display: inline-block;
    color: var(--primary);
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid var(--primary);
    animation: typing 3.5s steps(40, end), blink 1s steps(1, end) infinite;
}
.p-2 {
    margin: 2rem 0 3rem 0;
    font-size: 3rem;
}

.btn {
    margin-top: 1rem;
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

@keyframes blink {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: var(--primary);
    }
    100% {
        border-color: transparent;
    }
}

.social {
    margin-top: var(--margin-top);
    display: flex;
    gap: 15px;
}

.social-icon {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-top: 2rem;
    border-radius: 12px;
    border: 3px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s linear;

    .icon {
        font-size: 2.5rem;
        color: var(--primary);
    }

    &:first-child:hover {
        transform: translateY(-10px);
        background-color: black;
        .icon {
            color: white;
        }
    }

    &:nth-of-type(2):hover {
        transform: translateY(-10px);
        background-color: #0866ff;
        .icon {
            color: white;
        }
    }

    &:nth-of-type(3):hover {
        transform: translateY(-10px);
        background-color: black;
        .icon {
            color: #e1306c;
        }
    }

    &:last-child:hover {
        transform: translateY(-10px);
        background-color: #0a66c2;
        .icon {
            color: white;
        }
    }
}

// logo loop
.logo-loop {
    position: relative;
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;

    .loop-line {
        display: inline-flex;
        align-items: center;
        gap: 4rem;
        animation: scroll 20s linear infinite;

        &:hover {
            animation-play-state: paused;
            cursor: pointer;
        }

        .loop-item {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;

            .loop-icon {
                font-size: 4rem;
                transition: transform 0.5s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .icon-name {
                color: white;
                font-size: 2rem;
            }
        }
    }
}

.logo-loop::before,
.logo-loop::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80px;
    pointer-events: none;
    z-index: 2;
}

.logo-loop::before {
    left: 0;
    background: linear-gradient(to right, #000000 0%, transparent 100%);
}
.logo-loop::after {
    right: 0;
    background: linear-gradient(to left, rgb(0, 0, 0), transparent 100%);
}

// animate
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.fade-in-left {
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeInLeft 0.8s forwards;
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-right {
    opacity: 0;
    transform: translateX(50px);
    animation: fadeInRight 0.8s forwards;
}

@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-top {
    opacity: 0;
    transform: translateY(-50px);
    animation: top-down 1s forwards;
}

@keyframes top-down {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.flip-horizontal {
    animation: flipY 1s forwards;
}

@keyframes flipY {
    to {
        transform: rotateY(360deg);
    }
}

.wave {
    animation: wave 2s forwards;
}

@keyframes wave {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}
