.wrapper {
    padding: 60px;
    color: var(--text-color);
    animation: none;
    opacity: 0;

    &.is-visible {
        animation: fadeInTop 1s linear forwards;
        opacity: 1;
    }
}

@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
